.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
}
 
.countdown-item {
  margin: 0 20px;
  text-align: center;
}
 
.countdown-item span {
  display: block;
  font-size: 2em;
}
 
.label {
  font-size: 0.8em;
  color: #999;
}