.countdown {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}
 
.countdown-item {
  margin: 0 clamp(0.8rem, 0.63rem + 0.72vw, 1.5rem);
  text-align: center;
}
 
.countdown-item span {
  display: block;
  font-size: 2em;
  color: #f5f5f5;
}
 
.label {
  font-size: 0.8em;
  color: #999;
}
.countdown-item span:first-child {
    font-weight: 800;
    opacity: 0.7;
    line-height: clamp(2.5rem, 2.136rem + 1.55vw, 4rem);
    font-size: clamp(2.5rem, 2.136rem + 1.55vw, 4rem);
}
.countdown-item span:last-child {
    font-weight: 300;
    opacity: 0.4;
    text-transform: uppercase;
    font-size: clamp(1rem, 0.879rem + 0.52vw, 1.5rem);
}
